<!DOCTYPE html>

<html>

	<h1>Sistema de Gerenciamento de Horário Escolar</h1>

	<body>

		<br><br>

		<img
			width="300px" height="300px"
			align="center"
			src="/home/ricardo/Imagens/horario5.jpg"
			vspace="30px"
			hspace="20px"
			border="15px"/>


		<br><br>

		<div class="btn-group-vertical">
		  <a href="http://localhost:3000/home" class="btn btn-success">Visualizar Grade de Horário</a>
		  <a href="http://localhost:3000/admin" class="btn btn-success">Administração do Site</a>
		</div>

	</body>

</html>

